# This automatically requests reviews from the code owners when a pull request
# changes any owned files.
# See https://help.github.com/articles/about-codeowners/

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @TrueWill

# Order is important; the last matching pattern has the most precedence.

# You can also use email addresses if you prefer.
